.Order {
    width: 80%;
    color: #eee;
    border: 1px solid #eee;
    text-shadow: 1px 2px #111;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
}

.Order:hover {
    padding: 12px;
    box-shadow: 0 3px 3px #ccc; 
}