.Button {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.664);
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 7px 12px 7px 12px;
    margin: 10px;
    font-weight: bold;
}

.Button:disabled{
    color: #ccc;
    cursor: not-allowed;
}

.Button:hover {
    background-color: #222;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}